@charset "UTF-8";
/* 반응형 */
@media (max-width: 768px) {
  * {
    font-size: 16px;
  }
  .container {
    /* Change Order */
  }
  .container header {
    padding: 0 20px;
  }
  .container header .logo img {
    width: 120px;
  }
  .container section {
    padding: 20px;
  }
  .container .welcome {
    height: 100vh;
  }
  .container .welcome .heading {
    width: 100%;
  }
  .container .welcome .heading h1 {
    font-size: 35px;
  }
  .container .welcome .heading h5 {
    font-size: 20px;
  }
  .container .welcome .heading p {
    padding: 0 40px;
    font-size: 18px;
  }
  .container .welcome .heading .getstarted {
    display: inline-block;
  }
  .container .welcome .heading .getstarted input[type=email] {
    display: inline-block;
    width: 90%;
    margin-bottom: 10px;
    padding: 20px 0;
    padding-left: 20px;
  }
  .container .welcome .heading .getstarted button {
    width: 90%;
    padding: 10px 20px;
  }
  .container .welcome .heading .getstarted button i {
    top: 10px;
  }
  .container .welcome .heading .getstarted span {
    top: 20px;
    left: 40px;
  }
  .container :is(.enjoy, .download, .watch, .create) {
    height: auto;
  }
  .container :is(.enjoy, .download, .watch, .create) .inner {
    width: 100%;
    position: static;
    transform: translate(0);
  }
  .container :is(.enjoy, .download, .watch, .create) .inner .desc,
  .container :is(.enjoy, .download, .watch, .create) .inner .preview {
    float: none;
    width: 100%;
    text-align: center;
  }
  .container :is(.enjoy, .download, .watch, .create) .inner .desc {
    width: inherit;
    text-align: center;
    padding: 10px 20px;
    padding-top: 60px;
    float: none;
    height: 200px;
    z-index: 10;
  }
  .container :is(.enjoy, .download, .watch, .create) .inner .desc h1 {
    font-size: 28px;
    font-weight: 600;
    padding-top: 0;
  }
  .container :is(.enjoy, .download, .watch, .create) .inner .desc p {
    font-size: 16px;
    padding-top: 15px;
  }
  .container :is(.enjoy, .download, .watch, .create) .inner .preview {
    width: inherit;
    text-align: center;
    float: none;
    margin-bottom: 30px;
  }
  .container :is(.enjoy, .download, .watch, .create) .inner .preview img {
    width: 100%;
    height: auto;
  }
  .container .download .inner,
  .container .create .inner {
    display: flex;
    flex-direction: column;
  }
  .container .download .inner .desc,
  .container .create .inner .desc {
    order: 1;
    margin-bottom: 15px;
  }
  .container .download .inner .preview,
  .container .create .inner .preview {
    order: 2;
  }
  .container .faq {
    padding: 80px 20px;
  }
  .container .faq .faq-inner {
    width: 100%;
  }
  .container .faq .faq-inner h1 {
    padding-top: 20px;
    font-size: 30px;
    line-height: 1.3em;
    font-weight: 600;
  }
  .container .faq .faq-inner aside {
    width: 100%;
  }
  .container .faq .faq-inner aside p {
    font-size: 23px;
  }
  .container .faq .faq-inner aside .getstarted {
    display: inline-block;
    text-align: center;
  }
  .container .faq .faq-inner aside .getstarted input[type=email] {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 0;
    padding-left: 20px;
  }
  .container .faq .faq-inner aside .getstarted button {
    width: 100%;
    padding: 10px 20px;
  }
  .container .faq .faq-inner aside .getstarted button i {
    top: 10px;
  }
  .container .faq .faq-inner aside .getstarted span {
    top: 20px;
    left: 20px;
  }
  .container footer .footer-inner {
    width: 100%;
    text-align: center;
  }
  .container footer .footer-inner .site-map .link {
    width: 90%;
    margin: auto;
    display: inline-block;
  }
  .container footer .footer-inner .site-map .link .items {
    width: 48%;
    display: inline-block;
    margin-bottom: 20px;
  }
  .container footer .footer-inner .site-map .link .items a {
    font-size: 14px;
  }
  .container footer .footer-inner .site-map .link .items:last-child a:last-child {
    color: #000;
    pointer-events: none;
  }
  .container footer .footer-inner .copyright {
    text-align: center;
    padding: 15px;
  }
  .container .modal-login .login {
    width: 100%;
    padding: 20px;
  }
}