@charset "UTF-8";
/* montserrat raleway roboto 폰트*/
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Hind+Siliguri:wght@300;400;500;600;700&family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* Noto Sans KR 폰트 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
/* 모든폰트 */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Hind+Siliguri:wght@300;400;500;600;700&family=Hind:wght@300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Monoton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/* Lato 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* Playfair 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* Open Sans 폰트*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* 눈누 폰트 지마켓 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Default CSS */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: #000;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0;
}

.container {
  color: #fff;
}
.container header {
  display: flex;
  justify-content: space-between;
  padding: 15px 55px;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  position: absolute;
  z-index: 5;
}
.container header .logo {
  float: left;
}
.container header .logo img {
  width: 180px;
}
.container header .sign-in {
  float: right;
}
.container header .sign-in .btn-open {
  cursor: pointer;
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 7px;
  background-color: crimson;
  color: #fff;
  outline: none;
  border: none;
}
.container .modal-login {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 10;
}
.container .modal-login .login {
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.8352941176);
  padding-bottom: 10px;
  position: relative;
}
.container .modal-login .login .close-btn {
  font-size: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.container .modal-login .login h1 {
  font-weight: 300;
  padding: 20px 0;
}
.container .modal-login .login input[type=email],
.container .modal-login .login input[type=password],
.container .modal-login .login input[type=button] {
  color: #fff;
  width: 100%;
  padding: 20px 0;
  padding-left: 20px;
  margin-bottom: 20px;
  background-color: #4d4c4c;
  border: none;
  border-radius: 5px;
}
.container .modal-login .login input[type=email]::placeholder,
.container .modal-login .login input[type=password]::placeholder,
.container .modal-login .login input[type=button]::placeholder {
  color: rgba(255, 255, 255, 0.4941176471);
  font-size: 18px;
  transform: translateY(2px);
}
.container .modal-login .login input[type=button] {
  background-color: crimson;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
}
.container .modal-login .login .save-info {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}
.container .modal-login .login .save-info label {
  color: rgba(153, 153, 153, 0.7411764706);
  font-size: 15px;
  padding-bottom: 20px;
}
.container .modal-login .login .save-info label input[type=checkbox] {
  margin-right: 5px;
  transform: translateY(1px);
}
.container .modal-login .login .save-info a {
  color: #fff;
  font-size: 15px;
}
.container .modal-login .login span {
  color: rgba(153, 153, 153, 0.7411764706);
  font-weight: 300;
}
.container .modal-login .login span a {
  color: #fff;
  margin-left: 10px;
}
.container .modal-login .login span a:hover {
  text-decoration: underline;
}
.container .modal-login .login p {
  line-height: 40px;
  color: rgba(153, 153, 153, 0.7411764706);
  font-weight: 300;
}
.container .modal-login .login p a {
  color: dodgerblue;
}
.container .welcome {
  position: relative;
  width: 100%;
  height: 80vh;
  background: url(./image/Netflix-background.jpg) no-repeat center center;
  background-size: cover;
  border-bottom: 10px solid #333;
}
.container .welcome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.568627451);
}
.container .welcome .heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 660px;
  text-align: center;
}
.container .welcome .heading h1 {
  font-size: 65px;
  font-weight: 700;
}
.container .welcome .heading h5 {
  font-size: 20px;
  font-weight: 400;
}
.container .welcome .heading p {
  padding: 15px 0;
  font-size: 21px;
  font-weight: 300;
}
.container .welcome .heading .getstarted {
  position: relative;
  display: flex;
  gap: 10px;
}
.container .welcome .heading .getstarted input[type=email] {
  flex: 2;
  padding: 20px 0;
  border-radius: 5px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.5333333333);
  border: 1px solid rgba(255, 255, 255, 0.631372549);
  color: #fff;
}
.container .welcome .heading .getstarted input[type=email]:focus + span {
  top: 5px;
  font-size: 11px;
  color: dodgerblue;
}
.container .welcome .heading .getstarted > span {
  position: absolute;
  top: 35%;
  left: 20px;
  transition: 0.35s;
  color: rgba(255, 255, 255, 0.631372549);
}
.container .welcome .heading .getstarted button {
  flex: 1;
  border: none;
  background-color: crimson;
  color: #fff;
  border-radius: 5px;
  font-size: 26px;
  position: relative;
  padding-right: 15px;
  cursor: pointer;
}
.container .welcome .heading .getstarted button i {
  position: absolute;
  right: 13px;
  font-size: 32px;
  top: 15px;
}
.container .welcome .heading .getstarted button:hover {
  background-color: rgba(220, 20, 60, 0.815);
}
.container :is(.enjoy, .download, .watch, .create) {
  height: 500px;
  position: relative;
  border-bottom: 10px solid #333;
}
.container :is(.enjoy, .download, .watch, .create) .inner {
  width: 1200px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container :is(.enjoy, .download, .watch, .create) .inner .desc {
  float: left;
  width: 60%;
  height: 350px;
  font-weight: 300;
}
.container :is(.enjoy, .download, .watch, .create) .inner .desc h1 {
  font-size: 48px;
  font-weight: 400;
  padding-top: 90px;
}
.container :is(.enjoy, .download, .watch, .create) .inner .desc p {
  font-size: 28px;
}
.container :is(.enjoy, .download, .watch, .create) .inner .preview {
  float: left;
  width: 40%;
}
.container :is(.enjoy, .download, .watch, .create) .inner .preview img {
  height: 350px;
}
.container .faq {
  border-bottom: 10px solid #333;
}
.container .faq .faq-inner {
  width: 900px;
  margin: auto;
}
.container .faq .faq-inner h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  padding-top: 80px;
  padding-bottom: 40px;
}
.container .faq .faq-inner .accordion label {
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-size: 24px;
  position: relative;
  cursor: pointer;
  background-color: #303030;
  margin-bottom: 5px;
}
.container .faq .faq-inner .accordion label i {
  position: absolute;
  right: 20px;
  font-size: 24px;
  transition: 0.35s;
}
.container .faq .faq-inner .accordion .faq-content {
  overflow: hidden;
  font-size: 24px;
  max-height: 0;
  margin-bottom: 7px;
  background-color: #303030;
  padding: 0;
  transition: max-height 0.5s;
}
.container .faq .faq-inner .accordion input[name=faq-item] {
  display: none;
}
.container .faq .faq-inner .accordion input[name=faq-item]:checked + label + .faq-content {
  max-height: 500px;
  padding: 15px;
}
.container .faq .faq-inner .accordion input[name=faq-item]:checked + label > i {
  transform: rotate(45deg);
  font-size: 26px;
}
.container .faq .faq-inner aside {
  width: 750px;
  margin: auto;
}
.container .faq .faq-inner aside p {
  font-size: 1.7em;
  text-align: center;
}
.container .faq .faq-inner aside .getstarted {
  position: relative;
  display: flex;
  gap: 10px;
  margin-bottom: 70px;
}
.container .faq .faq-inner aside .getstarted input[type=email] {
  flex: 2;
  padding: 20px 0;
  border-radius: 5px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.5333333333);
  border: 1px solid rgba(255, 255, 255, 0.631372549);
  color: #fff;
}
.container .faq .faq-inner aside .getstarted input[type=email]:focus + span {
  top: 5px;
  font-size: 11px;
  color: dodgerblue;
}
.container .faq .faq-inner aside .getstarted > span {
  position: absolute;
  top: 35%;
  left: 20px;
  transition: 0.35s;
  color: rgba(255, 255, 255, 0.631372549);
}
.container .faq .faq-inner aside .getstarted button {
  flex: 1;
  border: none;
  background-color: crimson;
  color: #fff;
  border-radius: 5px;
  font-size: 26px;
  position: relative;
  padding-right: 15px;
  cursor: pointer;
}
.container .faq .faq-inner aside .getstarted button i {
  position: absolute;
  right: 13px;
  font-size: 32px;
  top: 15px;
}
.container .faq .faq-inner aside .getstarted button:hover {
  background-color: rgba(220, 20, 60, 0.815);
}
.container footer .footer-inner {
  width: 850px;
  margin: auto;
}
.container footer .footer-inner .site-map h6 {
  font-weight: 300;
  font-size: 16px;
  color: #686868;
  padding-top: 30px;
  padding-bottom: 20px;
}
.container footer .footer-inner .site-map .link {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 0.2px solid rgba(131, 131, 131, 0.2862745098);
}
.container footer .footer-inner .site-map .link .items {
  flex: 1;
}
.container footer .footer-inner .site-map .link .items a {
  display: block;
  font-size: 14px;
  color: #686868;
  margin: 5px 0;
}
.container footer .footer-inner .site-map .link .items a:hover {
  text-decoration: underline;
}
.container footer .footer-inner .copyright {
  padding-bottom: 40px;
}
.container footer .footer-inner .copyright p {
  color: #686868;
  font-size: 14px;
  line-height: 20px;
}